<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
<body>
 
    <h1> Add New Developer</h1>

    <form action="addNewDeveloper" method="POST">
        First Name: <input type="text" name="firstName" /> <br>
        Last Name: <input type="text" name="lastName" /> <br>
        Level: <input type="text" name="level" /> <br>
        State: <input type="text" name="state"/> <br>
        Suburb: <input type="text" name="suburb" /> <br>
        Street: <input type="text" name="street" /> <br>
        Unit: <input type="number" name="unit" /> <br>
        <button> Submit </button>
    </form>

    Click <a href="/"> HERE</a> to return to home page!!
</body>
</html>