<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
<body>
 
    <h1> Add New Task</h1>

    <form action="addManyTasks" method="POST">
        Task Name: <input type="text" name="taskName" /> <br>
        Task Due Date: <input type="date" name="dueDate" /> <br>
        Task Status: <input type="text" name="taskStatus"/> <br>
        Task Description: <input type="text" name="description" /> <br>
        Count: <input type="number" name="count" /> <br>
        <button> Submit </button>
    </form>

    Click <a href="/"> HERE</a> to return to home page!!
</body>
</html>