<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
<body>
    <table id="t01">
    <tr>
        <th>
            Task ID
        </th>
        <th>
            Task Name
        </th>
        <th>
            Assigned To
        </th>
        <th>
            Due Date
        </th>
        <th>
            Task Status
        </th>
        <th>
            Description
        </th>
    </tr>
    <% for(let i=0; i<tasks.length; i++){ %>
    <tr>
        <td>
            <%= tasks[i]._id %>
        </td>
        <td>
            <%= tasks[i].taskName %>
        </td>
        <td>
            <%= tasks[i].assignedTo %>
        </td>
        <td>
            <%= tasks[i].dueDate %>
        </td>
        <td>
            <%= tasks[i].taskStatus %>
        </td>
        <td>
            <%= tasks[i].description %>
        </td>
    </tr>
    <% } %>
    </table>
    Click <a href="/"> HERE</a> to return to home page!!
</body>
</html>